.icon-box-img {
    width: 120px;
    height: 120px;
    background: var(--white);
    border-radius: 50%;
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description-icon {
    width: 8.125rem;
    text-align: center;
    font-size: 0.75rem;
    text-transform: uppercase;
}

@media(min-width: 768px) {
    .icon-box {
        margin: 20px;
    }
}