.section-time {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--light-grey);
}

.box-time {
    width: 90%;
    margin-top: 1.25rem;
    border: 1px solid var(--dark);
    padding: 1.563rem;
}

.box-time h3 {
    text-transform: uppercase;
    font-size: 1.125rem;
    color: var(--dark);
}

.paragraph-time {
    margin-top: 10px;
    font-size: 1rem;
}

.box-btn-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.938rem;
    padding: 0.938rem;
    width: 12.5rem;
    height: 3.75rem;
    background: var(--blue-btn);
    border: none;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--white);
    border-radius: 2.5rem;
    text-align: center;
}

.box-btn-contato a {
    width: 6.875rem;
    color: var(--white);
}

.img-iconePhone {
    width: 2.5rem;
    margin-right: 10px;
    border-radius: 50%;
}

.paragraph-phone {
    font-size: 0.75rem;
}

.parceiros h4 {
    margin-top: 1.563rem;
    text-transform: uppercase;
    color: var(--dark);
}

.parceiros::after {
    content: '';
    display: block;
    width: 2.188rem;
    height: 0.5rem;
    margin: 0.313rem auto;
    background: var(--medium-yellow);
}

.box-parceiros {
    margin-top: 0.938rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo-parceiros {
    width: 6rem;
}

@media(min-width: 768px) {
    .logo-parceiros {
        width: 9.5rem;
    }
}
@media(min-width: 1024px) {
    .logo-parceiros {
        width: 13rem;
    }.parceiros h4 {
        font-size: 20px;
    }
}