.section-time {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--light-grey);
}

.box-time {
    width: 90%;
    margin-top: 20px;
    border: 1px solid var(--dark);
    padding: 25px;
}

.box-time h3 {
    text-transform: uppercase;
    font-size: 18px;
    color: var(--dark);
}

.paragraph-time {
    margin-top: 10px;
    font-size: 16px;
}

.box-btn-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding: 15px;
    width: 200px;
    height: 60px;
    background: var(--blue-btn);
    border: none;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--white);
    border-radius: 40px;
    text-align: center;
}

.box-btn-contato a {
    width: 110px;
    color: var(--white);
}

.img-iconePhone {
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.paragraph-phone {
    font-size: 12px;
}

.parceiros h4 {
    margin-top: 25px;
    text-transform: uppercase;
    color: var(--dark);
}

.parceiros::after {
    content: '';
    display: block;
    width: 35px;
    height: 8px;
    margin: 5px auto;
    background: var(--medium-yellow);
}

.box-parceiros {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo-parceiros {
    width: 80px;
}