#section-solution {
    background: var(--white);
}

.box-digitalSolution {
    padding: 1.25rem;
    margin-top: 2.188rem;
    background: var(--white);
}

.box-digitalSolution img {
    display: none;
}

.box-digitalSolution h4 {
    text-transform: uppercase;
    color: var(--dark);
}

.box-digitalSolution p {
    margin-top: 1.25rem;
    font-size: 1rem;
    color: var(--dark);
}

.benefits-jogga {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.25rem;
    padding: 1.25rem;
    background: var(--medium-gray);
    color: var(--white);
}

.style-teste {
    display: none;
}

.box-fale-conosco {
    padding: 1.563rem;
    background: var(--dark);
}

.box-fale-conosco h4 {
    color: var(--white);
    text-transform: uppercase;
}

.box-fale-conosco p {
    color: var(--white);
    margin-top: 0.625rem;
    font-size: 1rem;
    font-weight: 500;
}

.btn-contato {
    margin-top: 0.938rem;
    padding: 0.938rem;
    width: 10.625rem;
    height: 3.75rem;
    background: var(--medium-green);
    border: none;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white);
    border-radius: 2.5;
    text-align: center;
}

.contato-wpp {
    background: var(--medium-green);
    justify-content: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.938rem;
    padding: 0.938rem;
    width: 12.5rem;
    height: 3.75rem;
    border: none;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--white);
    border-radius: 2.5rem;
    text-align: center;
}

.img-iconeWpp {
    width: 3.125rem;
}

.contato-wpp a {
    color: var(--white);
}

@media(min-width: 768px) {
    .benefits-jogga {
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        margin-top: 0;
        color: var(--dark);
        background: var(--white);
    }
    .benefits-jogga-img {
        display: none;
    }
    .style-teste {
        display: flex;
        align-items: center;
        margin-top: 20px;
        color: var(--dark);
    }
    #section-solution {
        display: flex;
    }
    .box-digitalSolution {
        width: 50%;
        margin-top: 0;
        padding: 2rem;
    }
    .box-digitalSolution p {
        font-weight: bold;
    }
    .box-digitalSolution img {
        display: flex;
    }
    .box-icon-man {
        display: flex;
        justify-content: center;
        margin-top: 2.5rem;
    }
    .check-icon {
        width: 19.32px;
        height: 15px;
        margin-right: 10px;
    }
}